{% extends "app/layout.html" %}

    {% block content %}
<br />
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" >
            <img style="height:400px;width:600px;" src="https://media.istockphoto.com/photos/traditional-local-boat-on-alleppey-backwaters-picture-id1199922488?k=20&m=1199922488&s=612x612&w=0&h=z5Dvjt-YsSbiDxaN-guPbaCNsNvtJox3MUsqr0tsqKg=" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Altour With Us</h1>
                <p> <h3>Discover your next holiday destination</h3></p>
            </div>
        </div>
  
    </div>
   
</div>
<br />
<h1 style="text-align:center; font:200;">{{ title }}</h1>

<div class="row">
    <div class="col col-sm-4">

        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/ross-island-andaman-and-nicobar-island-india-picture-id986691136?k=20&m=986691136&s=612x612&w=0&h=3ns4dmjJhxltq8aLXWFkneHDksZtEMepclaSEJK_pTM=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Andaman and Nicobar</h5>
                <p class="card-text"> Andaman & Nicobar Islands is a little slice of paradise tucked around 1,400 km away from the east coast of mainland India. Islands are popular among tourists for their white sandy beaches. </p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>

    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/misty-tirupathi-picture-id1268716417?k=20&m=1268716417&s=612x612&w=0&h=e5Fqg8shFf7Cy2ccy5u1w3MdQMnJrqn8we4A-Z01qys=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Andhra Pradesh</h5>
                <p class="card-text">Andhra Pradesh has the Bay of Bengal to its west, and it boasts of a coastline of 972km, the longest in the country. This state is widely advertised as the Kohinoor of India by the tourism department.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/tawang-arunachal-pradesh-picture-id910430170?k=20&m=910430170&s=612x612&w=0&h=BZIq0wyg4rflLS-xfUgRkiZ2CrRLrSgr01zbtL6ey9M=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Arunachal Pradesh</h5>
                <p class="card-text">Arunachal Pradesh is home to picturesque mountains, unexplored passes, tranquil lakes and famous monasteries, Arunachal Pradesh is an amazing destination for an amazing holiday.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/tea-plantation-landscape-sunset-picture-id488851719?k=20&m=488851719&s=612x612&w=0&h=8YtjEzSfUmv445Jdhfkn8L0c_ZA9sNlRRQa-sdo-6k8=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Assam</h5>
                <p class="card-text">Assam, in North East India, is a treasure trove of natural beauty and diverse history, remaining as one of the most bountiful untouched regions in the country. Known as the land of 'Blue Hills and Red River'.</p>
                <a href="" class="btn btn-warning">Read More</a>
            </div>
        </div>

    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/the-side-view-of-the-stupa-at-mahabodhi-temple-complex-in-bodhgaya-at-picture-id1152637370?k=20&m=1152637370&s=612x612&w=0&h=UZQt-PkAwkYFiJVMX_JoGQnppRemFN-0XDytf-554B0=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Bihar</h5>
                <p class="card-text"> The land where the Buddha once lived, a land of monasteries - Bihar is visited by a considerable number of Buddhist followers as well as tourists of other faiths all through the year.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/army-of-statuettes-in-chandigarh-picture-id471757663?k=20&m=471757663&s=612x612&w=0&h=7rO1MgDlcbFq0VwR-SHgACruqq4ovDHrGdpKCxWzm9M=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Chandigarh</h5>
                <p class="card-text">  India's first planned city, Chandigarh is traditionally a Punjabi city at heart with a healthy dose of modernity; Chandigarh's food and gedi culture (a leisure drive or ride the city) is what the capital is known for! </p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/teerathgarh-falls-chhattisgarh-india-picture-id1264695238?k=20&m=1264695238&s=612x612&w=0&h=WsXobIkTNPXnGYCAMoY1kisOJNbHoeZihXkT2Laavpw=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Chattisgarh</h5>
                <p class="card-text">Chattisgarh, renowned for its scenic diversity and its cultural and traditional history.Many caves and monuments present in Chattisgarh depict the sheer talent once possessed by the local architects .</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/panoramic-view-of-dudhni-lake-picture-id1179015161?k=20&m=1179015161&s=612x612&w=0&h=eJG6SuaKPbncIXf1C8IMvtCKB40I5AvWKQ0cL1iWhWk=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Dadra and Nagar Haveli</h5>
                <p class="card-text">Located in the southern region of Gujarat and close to Vapi, Silvassa is the capital of the union territory Dadra and Nagar Haveli and is famous for its greenery, exotic resorts, industries and tax - free alcohol.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/historical-portuguese-sea-fort-in-diu-picture-id1331632873?k=20&m=1331632873&s=612x612&w=0&h=2cPBy2fcKFrZXP70CbKx5lv9gdv6Q3AZp6d2gKucTmk=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Daman and Diu</h5>
                <p class="card-text">Located near the port of Veraval, Daman and Diu is a small island which was earlier a Portuguese colony.The cool beaches greenery, scenic natural beauty and most of all, its easy availability of cheap liquor.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/goa-palolem-beach-from-above-picture-id482535663?k=20&m=482535663&s=612x612&w=0&h=K0Kxul-eQ017tA_tvKpO2eZxp2KQWNzw6aSfdsMMs28=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Goa</h5>
                <p class="card-text">Goa is India's smallest state and unlike any other, known for its endless beaches, stellar nightlife, eclectic seafood, world-heritage listed architecture.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/panchasara-jain-derasar-picture-id1214633349?k=20&m=1214633349&s=612x612&w=0&h=8ri8EhC7SdXsOy-yNq1L-vXLa0Dp0GM2puvqRJCOX84=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Gujarat</h5>
                <p class="card-text">Gujarat is one of the most popular states in India popularly known for tourism,offers picturesque beauty from the Great Runn of Kutch to the hills of Satpura .</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/hindu-temple-in-kurukshetra-haryana-picture-id1136830337?k=20&m=1136830337&s=612x612&w=0&h=Tl3tKcB-eM2ZD-pDBcIZmHJ5zgqIO0iT494QfMgWrP4=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Haryana</h5>
                <p class="card-text">Haryana state is home to numerous monuments and palaces, tombs and temples.The state of Delhi is landlocked on three sides by Haryana. </p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/india-gate-picture-id510795912?k=20&m=510795912&s=612x612&w=0&h=OjydLlaorEZih3Tg8RAAe83YRUTE8JxXr9Q07UM3Kp4=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Delhi</h5>
                <p class="card-text">Delhi is the capital city of India and is regarded as the heart of the nation,Delhi is a shopper's paradise with some colourful bazaars and upscale markets.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/kufri-shimla-picture-id533725751?k=20&m=533725751&s=612x612&w=0&h=LffeG_AQIN62JHaC_YiZNgrmfMHl65fq6Yq7gAsvWlU=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Himachal Pradesh</h5>
                <p class="card-text"> This is known for its Himalayan landscapes and popular hill-stations. Mountain biking,ice-skating and are popular tourist attractions in Himachal Pradesh.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/gulmarg-high-peaks-picture-id532959840?k=20&m=532959840&s=612x612&w=0&h=V1ZorwVC3YkHfeS-kLqxvVdiwLspZysVO6ui2bHWNGs=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Jammu and Kashmir</h5>
                <p class="card-text">Popularly known as the "Paradise on Earth", Jammu and Kashmir is world famous for its snow-capped mountains, plentiful wildlife, exquisite monuments, and local handicrafts.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/patratu-valley-ranchi-beautiful-place-in-jharkhand-picture-id1323460129?k=20&m=1323460129&s=612x612&w=0&h=oCqDqIGOo1Xok1Mwya6_HsYqJRbbpiTEQMuJXw-iEP0=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Jharkhand</h5>
                <p class="card-text">One of the best places to visit for wildlife aficionados and nature lovers, Jharkhand is a state replete with a vast bounty of towering mountains, dense forests and gushing waterfalls.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/hampi-stone-chariot-the-antique-stone-art-piece-from-unique-angle-picture-id1270774245?k=20&m=1270774245&s=612x612&w=0&h=L6wkXK6eBGDv1_wTwBjYYvsKg3Z3dTaDnPdJinaJS4E=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Karnataka</h5>
                <p class="card-text">Ranked the 4th most popular tourist state in the country, Karnataka has a bouquet of attractions to offer you,from beautiful landscapes to rich cultural heritage and scrumptious food.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/houseboat-in-alappuzha-backwaters-kerala-picture-id1266651696?k=20&m=1266651696&s=612x612&w=0&h=0fPnJEsL0nEs0PyntWqW0Hws_VuzyulsXpxDw5PgORc=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Kerela</h5>
                <p class="card-text">Popularly referred to as 'God's Own Country', Kerala in southwestern India is one of the most beautiful states in the country. The state is among the top tourist destinations in India.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/scenic-view-of-road-by-landscape-with-mountain-road-and-blue-sky-seen-picture-id1019326950?k=20&m=1019326950&s=612x612&w=0&h=cRMjR3qAxT1VdS-NX009vvvL02ZaonTOMIJ8mrzLArk=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Ladakh</h5>
                <p class="card-text">Ladakh is an adventure playground for rafting and high-altitude trekking.it has great tourist attraction because of its beautiful monasteries nearby, Shanti Stupa, cafes and Leh Bazaar defining the place's culture. </p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/coconut-fringed-beach-picture-id1224349638?b=1&k=20&m=1224349638&s=170667a&w=0&h=zZKpyzVLLnVIJnIb40WrDQaYEaX_76Wex8Kux1nKWAs=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Lakshadeep</h5>
                <p class="card-text">The charm of Lakshadweep islands lies in their remoteness. Far off the beaten track, they attract no hordes of merrymakers to their shores. Islands though all equally beautiful,offers unique blend of tourist spots. </p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="{% url 'MadhyaPradesh' %}">
                <img src="https://media.istockphoto.com/photos/gwalior-fort-picture-id481494314?k=20&m=481494314&s=612x612&w=0&h=1gY7BTazzR0khsv-pUQwQKeRBmTbVdbpIXsY9lxRyeY=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Madhya Pradesh</h5>
                <p class="card-text"> 'The Heart of Incredible India'. From the historical monuments to modern amenities, culture, food and people- this state gives a taste of entire India packed within its geographical boundaries.</p>
                <a href="{% url 'MadhyaPradesh' %}" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/taj-mahal-hotel-and-gateway-of-india-picture-id539018660?k=20&m=539018660&s=612x612&w=0&h=bkeZQaQ1xyHZxrOM7Wwujj7gcKzVMt7FlKiILC3QyhI=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Maharashtra</h5>
                <p class="card-text">Maharashtra, the land of everything unlimited invites you into its widespread plethora of attractions, Marathi culture has beautifully embraced other cultures that have come to call this state their home.  </p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/govindaji-kangla-fort-imphal-manipur-picture-id1173721130?k=20&m=1173721130&s=612x612&w=0&h=SGrDK9t2cA250ByNT9gf_iQHSaB7RCgYGT-eFjYFKjI=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Manipur</h5>
                <p class="card-text">The jewel city of India, Manipur in the north-eastern part of the country, Manipur promises to be a great tourist discovery as the state offers endless enjoyment and pleasure with undulating hills, green  valleys.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/krangsuri-falls-meghalaya-picture-id497825214?k=20&m=497825214&s=612x612&w=0&h=ySoJvEwiH1Dx6qrzvsYksv6SL-Qi-T4H9G7C9DdaOM4=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Meghalaya</h5>
                <p class="card-text"> Meghalaya, the abode of clouds, is one of the most beautiful states in North-East India offering a variety of sights, activities, food and festivals to the tourists. it's place Cherrapunji is famous for its rainfall.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/part-of-serchhip-town-picture-id1181903169?b=1&k=20&m=1181903169&s=170667a&w=0&h=9mkx19pu5teY1x26Mitg14Zf8DTpDfNIYW1gyhAKtyA=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Mizoram</h5>
                <p class="card-text">Known as the 'Songbird of India', the northeastern state of Mizoram is one of the smallest states in India. The moderate climate of Mizoram, which is comfortable even in during summer makes it an attractive destination for all the tourists. </p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/view-at-colibita-lake-picture-id957650360?k=20&m=957650360&s=612x612&w=0&h=nUTJG_Bto3kvd8BlgmvF5uroZ6DlgbrEzINri4xu-j4=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Nagaland</h5>
                <p class="card-text">Nagaland is a state in the north-east part of the country and is one of the most-loved hill station tourist destinations in India. Nagaland is as much about scenic beauty as it is about carefully preserved history and tradition.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/top-of-the-jagannath-temple-puri-odisha-india-picture-id1069137628?k=20&m=1069137628&s=612x612&w=0&h=-uv2B6UoivsLFq1J6wrJeml0w6sY3fuexaelhGOKsjY=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Odisha</h5>
                <p class="card-text">Odisha- the land of paddy fields and palm-fringed silver beaches, temples, waterfalls, is filled with major attractions such as the temples of Bhubaneshwar and Puri, miles of clean beaches and the magnificent Sun Temple of Konark.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/golden-temple-picture-id538991106?k=20&m=538991106&s=612x612&w=0&h=Mw5lSxtVDMZghWwlALG3zmy-OfewwBZuF9yLpUdimIM=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Punjab</h5>
                <p class="card-text">Located in the northwestern part of India, Punjab means the land of five rivers. Known for its cuisine, culture and history, Punjab is visited by tourists who want to enjoy its vibrant culture and food.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/the-path-leading-to-entrance-of-matrimandir-in-auroville-india-picture-id121395273?b=1&k=20&m=121395273&s=170667a&w=0&h=2M7JYEg_-cZjOOdCGwM5ew2cH4KwQ85Z1Cr_9p5LEQk=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Puducherry</h5>
                <p class="card-text">is one of the seven Union Territories of India which is bounded by the southern state of Tamil Nadu. This former French colony is a perfect amalgamation of the traditional Indian sensibilities and French architecture.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/nahargarh-fort-picture-id635726330?k=20&m=635726330&s=612x612&w=0&h=eiUeGWk-Lufy7z_zb_x4BaEgRDb82VnPkhsTVDQHn0I=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Rajasthan</h5>
                <p class="card-text">Rajasthan is popularly known to many as the Land of the Kings. One of the most colourful and vibrant states in the country, with a strong blend of culture, history, music, cuisine falling in love with Rajasthan.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/lord-buddha-at-rabangla-sikkim-india-picture-id1150187613?k=20&m=1150187613&s=612x612&w=0&h=xzZqkoxYyPKen-4nERObfiLf5tDkatODLC73aSZzSvk=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Sikkim</h5>
                <p class="card-text">Sikkim, located in the north-eastern region is the smallest state in India.Occupied by warm-hearted people offering some of the best hospitality , snow activities and scenic views, Sikkim is truly a destination people fall in love with!</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/gopurams-in-sri-ranganathaswamy-temple-india-picture-id1063328926?k=20&m=1063328926&s=612x612&w=0&h=tWdOGDmHOfIYigtt3IxycuYHFneJqFMobNMCOkBVkhM=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Tamil Nadu</h5>
                <p class="card-text">Tamil Nadu is one of India's most well-known tourist destinations to its unique culture as well as religious significance. The state boasts of religious sites such as historical attractions, vast plantations, hill stations and loads of festivities.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/high-wide-angle-view-of-charminar-in-the-night-picture-id1215274990?b=1&k=20&m=1215274990&s=170667a&w=0&h=XCXrWh91pbG7Bdo_IGuptQOSJa3BWmDIP8Ax9WEpQwY=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Telangana</h5>
                <p class="card-text">Telangana has got a whole new identity, packed with rich history and culture this state is exploring its tourism strengths.The capital city of Hyderabad has famous Char Minar is located here, which is also a shared monument among the two states.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/melaghar-in-tripura-india-picture-id1292258406?b=1&k=20&m=1292258406&s=170667a&w=0&h=FWEZIYU0Zol6sbgq9zqPZ-VfIIHxFtYzLDVCM0WgW-0=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Tripura</h5>
                <p class="card-text">Rich in gorgeous landscapes, crystalline waterfalls. Tripura is a popular tourist destination blessed with natural beauty and picturesque locations which attract tourists from all over the world. </p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/varanasi-burning-grounds-at-night-picture-id516984446?k=20&m=516984446&s=612x612&w=0&h=kciHKxynTwtSqWVDg3qEA6rEKcMPcVD7YqWN6WVOKx4=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Uttar Pradesh</h5>
                <p class="card-text">Uttar Pradesh is the home to some of the most beautiful monuments and cultural sights in India. The home to diverse religious people, this state boasts of the various cultural and religious fests.</p>
                <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/kedarnath-in-india-picture-id515855602?b=1&k=20&m=515855602&s=170667a&w=0&h=rPtaGe5s9J3roDggwnXnnxTiUTWaAqxCoIJb1jqRLLo=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Uttarakhand</h5>
                <p class="card-text">Uttarakhand is a popular pilgrimage site, as it is the originating spot of the Ganga and the Yamuna, two of the most sacred rivers for Hindus. Uttarakhand is also home to the Char Dhams.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/victoria-memorial-in-kolkata-picture-id904582208?b=1&k=20&m=904582208&s=170667a&w=0&h=XCwcm3Y0diI_pO6MX9cw-pDXJiUlWBscmkdGZd_L7Fg=" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">West Bengal boasts of different ethnicities, cultures, religions, people and languages which add to its beautiful landscapes, forests, coastal beauty as well as its heritage.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <br />
    <br />

    {% endblock %}
