{% extends "app/layout.html" %}

{% block content %}

<br/>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://source.unsplash.com/600x200/?pc,jaipur,jaisalmer" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />

<h3>Top Most Family Destinations For You.</h3>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/amber-fort-jaipur-india-picture-id154894958?k=20&m=154894958&s=612x612&w=0&h=MNiD4fJ7cdCReTvrNz5K0GqArTpAnRxxTYT59sbA8L0=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Amer Fort - Jaipur</h5>
                <p class="card-text"><!--Amber Fort is located in Amer,11 kilometres from Jaipur, Rajasthan state, India. It is one of the principal tourist attractions in the Jaipur area, located high on a hill.--></p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/ellora-caves-maharashtra-india-picture-id531012475?k=20&m=531012475&s=612x612&w=0&h=AD11aKcD0_GncAq0ygvw63-uQKbwYkPf1V-byfxJbRw=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Ellora Caves - Aurangabad  </h5>
                <p class="card-text"><!--Ellora is a UNESCO World Heritage Site located in the Aurangabad district of Maharashtra, India. It is one of the largest rock-cut Hindu temple in the world.--></p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/gateway-of-india-mumbai-maharashtra-monument-landmark-famous-place-picture-id1307189136?b=1&k=20&m=1307189136&s=170667a&w=0&h=F-BSrbduokK7pz1AEOwOGuoDe2xd28wnSyZpll4Jzks=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Gateway Of India - Mumbai</h5>
                <p class="card-text"><!--The Gateway of India is a monument that marks India's chief ports and is a major tourist attraction for visitors who arrive in India for the first time.--></p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/golden-temple-in-amritsar-punjab-india-picture-id535570117?k=20&m=535570117&s=612x612&w=0&h=d2UcnL2CN_bowEAjc_E7Kv8JxAczn1oyrxgWuxWMiEs=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Golden Temple - Amritsar</h5>
                <p class="card-text">One of the most spiritual places in India, the Golden Temple, also known as Sri Harmandir Sahib, is the holiest shrine in all of Sikhism.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/gwalior-fort-picture-id481494314?k=20&m=481494314&s=612x612&w=0&h=1gY7BTazzR0khsv-pUQwQKeRBmTbVdbpIXsY9lxRyeY=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Gwalior Fort - Madhya Pradesh</h5>
                <p class="card-text"><!--The Gwalior Fort is a hill fort near Gwalior, Madhya Pradesh, India.The fort has existed at least since the 10th century.--></p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/eve-expensive-picture-id639075168?k=20&m=639075168&s=612x612&w=0&h=WqBAreIgzqgGihbHapaXuy4UbH-dRbOQsIgZ8mpqaQk=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Hawa Mahal - Rajasthan</h5>
                <p class="card-text"><!--Hawa Mahal,also known as “Palace of Breeze”, was built in 1799 as an extension to the Royal City Palace of Jaipur.--></p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />
<<div class="row">
<div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/the-india-gate-is-a-war-memorial-located-astride-the-rajpath-picture-id1221292135?k=20&m=1221292135&s=612x612&w=0&h=OS7SAJPYG7uDY0Zte9ts1o9xMp9rTSsA8J15ewGWl-s=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">India Gate - Delhi</h5>
                <p class="card-text"><!--During nightfall, India Gate is dramatically floodlit while the fountains nearby make a lovely display with coloured lights.India Gate stands at one end of Rajpath.--></p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/kedarnath-in-india-picture-id515855602?k =20&m =515855602&s =612x612&w =0&h =ik47dZ5iKENL3wqtXZDTyfKUi8-k7tfT4AlsJ05RfCI=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Kedarnath - Uttarakhand</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/lotus-temple-picture-id517364023?k=20&m=517364023&s=612x612&w=0&h=BGLUJTayeIRmoXVOAXZbdMyxk-0KCnfAVmkPUFta36E=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Lotus Temple - Delhi</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/tea-plantations-and-river-in-hills-kerala-india-picture-id511119924?k=20&m=511119924&s=612x612&w=0&h=rvf_RR1Wz1fSEn5KPZJXuQ-GqDmFI9Pj_LfUFcVbpik=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Lakes and Hill station - Kerala</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/mysore-palace-at-dusk-picture-id172124032?k=20&m=172124032&s=612x612&w=0&h=mli7pq9KD-Q5jW_sYOdN7694zJXYa7cwcqId9IDrKDI=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Maysore Palace - Karnataka</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/hindu-temple-with-colorful-decoration-in-the-area-of-siddhesvara-in-picture-id839923128?k=20&m=839923128&s=612x612&w=0&h=3wq6csofOcDgeK691xuA2RXGfhmdLw-Eyciutu87Bpk=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Namchi - Sikkim</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/hiker-man-rising-arms-adventure-and-freedom-concept-at-view-of-at-picture-id1075237796?k=20&m=1075237796&s=612x612&w=0&h=cavMPS1v3Xa9GgR5-BUFf9DwVibt0eX4NLozOhm0Oc4=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Nubra Valley - Ladakh</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/majestic-jhelum-river-a-tributary-of-the-indus-river-passes-through-picture-id1177780471?k=20&m=1177780471&s=612x612&w=0&h=JvI8-ZZITT9WOkBJmo6TfDYIdTrrTo8B2EzaCY5C-LI=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Pahalgam - Kashmir</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/lakshman-temple-rishikesh-india-picture-id1146194071?k=20&m=1146194071&s=612x612&w=0&h=XpUQ_Ipp4g27Qg3x52DHGW29PvDVvFaKsrx5q4eEQuk=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Rishikesh - Uttarakhand</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/varanasi-ancient-city-architecture-at-sunset-as-viewed-from-a-boat-on-picture-id1164063065?k=20&m=1164063065&s=612x612&w=0&h=mtjkBPurszIrxvzU2c31JtZQCok--_cwUp1iIE-D9k4=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Shri Kashi Vishwanath Temple - Varanasi</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/taj-mahal-and-its-reflection-in-pool-hdr-picture-id124688183?b=1&k=20&m=124688183&s=170667a&w=0&h=a6DAqHx9gaPE4VOKXpONvbVh0qlFw-umNBUjyFTyHQ0=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Taj Mahal - Agra</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/rabdentse-ruins-pelling-picture-id515977854?k=20&m=515977854&s=612x612&w=0&h=o8gglyNpr960L1dyhJIeM_GJCFaA5qJ145xvk3Xh-zE=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Yuksom - Sikkim</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Read More</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

