{% extends "app/layout.html" %}

{% block content %}
<br />

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
       
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img  style="height:400px;width:600px;" src="https://media.istockphoto.com/photos/concept-world-travels-honeymoon-picture-id514066798?k=20&m=514066798&s=612x612&w=0&h=VgEzKrmCKBwq_ZUMLXHrFJJYSsq127wAaKVBNabz6k0=" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Altour With Us</h1>
                <p> <h3>Discover your next honeymoon destination</h3></p>
            </div>
        </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />
<h3>Top Most Honeymoon Destinations For you.</h3>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/winter-snow-mountain-valley-at-sonmarg-in-kashmir-india-picture-id852419078?k=20&m=852419078&s=612x612&w=0&h=Rl1KND3w7xAsV0OKFEemfdbfrpglvUbV48ApqFAYZMc=" class="card-img-top" alt="...">
            </a><div class="card-body">
                    <h5 class="card-title">Sonmarg - Jammu & Kashmir</h5>
                    <p class="card-text">Sonmarg, which means "Meadow of Gold", is a picturesque hill station in the Kashmir Valley located in the Indian union territory of Jammu and Kashmir. </p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/hidimba-devi-or-hadimba-temple-manali-picture-id1334792935?k=20&m=1334792935&s=612x612&w=0&h=XCClnJmTMr37J9I4nX026TpsczVQdkVK3GoIyQC43Hs=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Manali - Himachal Pradesh </h5>
                    <p class="card-text">Manali is a town in the Indian state of Himachal Pradesh, it is a popular tourist spot for Indians in summer and a magical, snow-covered place in winter.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/mussoorie-landscape-in-cloudy-rainy-monsoon-season-stock-image-picture-id1140128164?k=20&m=1140128164&s=612x612&w=0&h=2zjn69jJcYZOFKaUD5qz-S095ch5A5yhGB-SazFNBfY=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Mussoorie - Uttarakhand</h5>
                    <p class="card-text">Mussoorie is one of the most popular hill stations located at a distance of 290 km from Delhi in the Dehradun district of Uttarakhand</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/himalaya-mountains-panoramic-landscape-india-picture-id1322194626?k=20&m=1322194626&s=612x612&w=0&h=T4c5H1HlDJyFVvtWfGzXjsFY7ZAhXWYjvuXtxJLHZlE=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Shimla - Himachal Pradesh</h5>
                    <p class="card-text">Snow-capped Himalayan peaks and green pastures surround Shimla, the capital of Himachal Pradesh.Shimla was a retreat destination for Mahatma Gandhi.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/tbilisi-old-city-picture-id1053988332?k=20&m=1053988332&s=612x612&w=0&h=gee9oELkLeq0BuwPIPpmeyWZnVTcgVvWVwobmHWMjAc=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Nainital - Uttarakhand</h5>
                    <p class="card-text">Mussoorie is one of the most popular hill stations located at a distance of 290 km from Delhi in the Dehradun district of Uttarakhand.</p>
                    <a href="#" class="btn btn-warning"> Read More</a>
                </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/mountainspangong-tso-lehladakhjammu-and-kashmirindia-picture-id481573402?k=20&m=481573402&s=612x612&w=0&h=PhMw7-l7rd5c2f7DSE1LlJgjpVLMosmJvUaqCnhAYz0=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Leh - Ladakh</h5>
                    <p class="card-text">Leh is the joint capital and largest city of the union territory of Ladakh in India.Ladakh is a rustic and heavenly beautiful travel destination</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/stunning-view-of-a-boat-sailing-on-the-alleppeys-backwaters-during-a-picture-id1311786286?b=1&k=20&m=1311786286&s=170667a&w=0&h=zQZYB_Edf10JJWRWYrIVIWfSUYaYY1tKQanzq8Tb1IQ=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Alleppey - Kerela</h5>
                    <p class="card-text">Officially called Alappuzha, Alleppey is the picture-perfect place known for its beautiful backwaters and the houseboats offering overnight stays.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/stunning-view-of-havelock-island-beach-beautiful-tree-in-the-sea-picture-id948785998?k=20&m=948785998&s=612x612&w=0&h=3W9DrcsoT_m5esg8bHKXn6OW6gl_m_s7qy7z2JXG4_g=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Port Blair - Andaman & Nicobar</h5>
                    <p class="card-text">Port Blair, is the capital and your entryway into Andaman and Nicobar islands.The city is well connected with mainland India by both air and sea.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/resort-and-spa-in-the-colca-valley-peru-picture-id943197744?k=20&m=943197744&s=612x612&w=0&h=odj0uNfvWDiKoIoE2CTQPz7HX6rtJprVLRzh9dO8ziU=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Kodaikanal - Tamil Nadu</h5>
                    <p class="card-text">Located in the state of Tamil Nadu, Kodaikanal is one of the most famous honeymoon destinations in India.Kodaikanal means 'the gift of the forests'.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/chengdu-huanglongxi-town-picture-id865190070?k=20&m=865190070&s=612x612&w=0&h=DWF9ixLelS7ZWkDm3YTO1Hzb1vJ8lupvKEdZQn353F4=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Pondicherry</h5>
                    <p class="card-text">Pondicherry, officially known as Puducherry, and commonly referred to as just Pondy, is one of the seven Union Territories of India which is bounded by the southern state of Tamil Nadu. </p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/beach-in-maldives-picture-id486934898?k=20&m=486934898&s=612x612&w=0&h=8jbL4283l1ZoZNZT9dWz0ouMYYUhcJ4NUKFi25zRdbs=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Lakshadweep Islands</h5>
                    <p class="card-text">Lakshadweep, the group of 36 islands is known for its exotic and sun-kissed beaches and lush green landscape and tranquil surroundings make Lakshadweep a popular honeymooning destination.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/waterfall-flowing-streams-through-rocks-in-forest-with-blurred-water-picture-id1355993432?k=20&m=1355993432&s=612x612&w=0&h=AuwQOriBue-qbctK8WoMoeZHuJU8BkmZXotKY_D6COI=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Shillong - Meghalaya</h5>
                    <p class="card-text">A beautiful city encircled by pine trees, Shillong is the capital of Meghalaya . Standing as tall as 1496 meters, this hill station is known for its weather, picturesque locations and traditions.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/evening-prayer-flags-in-sangachoeling-monastery-sikkim-tibet-india-picture-id491471090?b=1&k=20&m=491471090&s=170667a&w=0&h=pXhTJ4tKgVTYhKiwqbnIVuOIPRqfeQGf5PYHtBGcAbs=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Sikkim</h5>
                    <p class="card-text">Sikkim, located in the north-eastern region is the smallest state in India . The third highest peak in the world and jewel of the state.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/mountain-road-in-eastern-himalaya-picture-id1143718082?k=20&m=1143718082&s=612x612&w=0&h=Wlf1CZtC7-JlqGwc_HLJojn8ssHaJAcI-7RNBhOGl2I=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Darjeeling - West Bengal</h5>
                    <p class="card-text"> Darjeeling conjures visions of snow peaks, serenity of vibrant green hills steeped in splendour, a land of breathtaking beauty crowned by the majestic Himalayas.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/india-goa-palolem-beach-picture-id535168027?k=20&m=535168027&s=612x612&w=0&h=L4IxMIBa6jpWytr_L9eKFwCz5Iqehlgvpmnxz1JMuC0=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Goa</h5>
                    <p class="card-text"> Lying on the western coast, Goa is India's smallest state and unlike any other, known for its endless beaches, stellar nightlife, world-heritage listed architecture. </p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/devkund-waterfall-near-lonavla-maharashtra-picture-id1296630391?k=20&m=1296630391&s=612x612&w=0&h=LzmxGEO0vdl9H8FgCoNY580mlg6NPntU7Eme5Mpff-M=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Lonavla - Maharashtra</h5>
                    <p class="card-text">Situated in the Sahyadri range of the Western Ghats close to Pune and Mumbai, Lonavala is the most visited hill station in Maharashtra .</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/camel-caravan-at-the-beach-of-essaouira-morocco-picture-id481375195?k=20&m=481375195&s=612x612&w=0&h=vHeAoZXNegU-RzFsUOIJJ_3txU240GkL5Ahi7m09Fvc=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Rann Of Kutch - Gujarat</h5>
                    <p class="card-text">The Great Rann of Kutch, is a large area of salt marshland, is located in the District of Kutch, in the western state of India, Gujarat .</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="#">
                <img src="https://media.istockphoto.com/photos/plaza-de-espana-seville-spain-picture-id637924806?k=20&m=637924806&s=612x612&w=0&h=rXXMbS-xialZz9ds8Z8rZIAcJKAowhoQJmEc8s3LD7g=" class="card-img-top" alt="...">
            </a> <div class="card-body">
                    <h5 class="card-title">Jaisalmer - Rajasthan</h5>
                    <p class="card-text">Jaisalmer is a prominent tourist spot located in the northwestern state of Rajasthan in India. It is known as the 'golden city' due to its golden dunes.</p>
                    <a href="#" class="btn btn-warning">Read More</a>
                </div>
        </div>
    </div>
</div>
<br />
<br />

{% endblock %}
