{% extends "app/layout.html" %}
{% block content %}

<br />

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="height:400px;width:600px;" src="https://media.istockphoto.com/photos/indian-palace-picture-id825020012?k=20&m=825020012&s=612x612&w=0&h=9ENxzduW2P1wgf0LycrqsvfV0857diSDJIpZz6AsZVE=" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Altour With Us</h1>
                <p> <h3>Discover your next holiday destination</h3></p>
            </div>
        </div>
        <div class="carousel-item">
            <img style="height:400px;width:600px;" src="https://media.istockphoto.com/photos/young-woman-kayaking-through-the-backwaters-of-monroe-island-picture-id1031430214?k=20&m=1031430214&s=612x612&w=0&h=mOKI9aX6Ycp-QvCN8D5bBZMEXNyMKUScR3DZ2Pnfbm0=" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Altour With Us</h1>
                <p> <h3>Discover your next holiday destination</h3></p>
            </div>
        </div>
        <div class="carousel-item">
            <img style="height:400px;width:600px;" src="https://media.istockphoto.com/photos/india-picture-id951823988?k=20&m=951823988&s=612x612&w=0&h=4V8pokUDyO3n0r9pBCCPeAx-XIhR1_rbj5lB_6nolMU=" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Altour With Us</h1>
                <p> <h3>Discover your next holiday destination</h3></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />

<h1 style="text-align:center;font-size:40px;">Top  Places Visit Near Me</h1>

<div class="row">
    <div class="col col-sm-3">

        <div class="card">
            <a href="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjqybUSYo5vuDWvyYIlkpSrYRC-ZeO60_yEg&usqp=CAU" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <!--<h5 class="card-title">Khajuraho</h5>-->
                <!--<p class="card-text"> Andaman & Nicobar Islands is a little slice of paradise tucked around 1,400 km away from the east coast of mainland India. Islands are popular among tourists for their white sandy beaches. </p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>

    </div>

    <div class="col col-sm-3">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/blurred-image-of-vishvanatha-temple-dedicated-to-shiva-western-of-picture-id1373126778?k=20&m=1373126778&s=612x612&w=0&h=zhgkRv0O7tbXR7MgS87PdSvEGJNJU0JEhz9f9lrUMt0=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Places to visit near Indore</h5>
                <!--<p class="card-text">Andhra Pradesh has the Bay of Bengal to its west, and it boasts of a coastline of 972km, the longest in the country. This state is widely advertised as the Kohinoor of India by the tourism department.</p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
    <div class="col col-sm-3">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/india-gate-picture-id510795912?k=20&m=510795912&s=612x612&w=0&h=OjydLlaorEZih3Tg8RAAe83YRUTE8JxXr9Q07UM3Kp4=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Places to visit Delhi</h5>
                <!--<p class="card-text">Arunachal Pradesh is home to picturesque mountains, unexplored passes, tranquil lakes and famous monasteries, Arunachal Pradesh is an amazing destination for an amazing holiday.</p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
    <div class="col col-sm-3">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/bangalore-skyline-india-picture-id186255464?k=20&m=186255464&s=612x612&w=0&h=JwyYAoDbEl46B84f_33eboB2AdaogQ_mJWBHko6hg1w=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Places to visit Banglore</h5>
                <!--<p class="card-text">Arunachal Pradesh is home to picturesque mountains, unexplored passes, tranquil lakes and famous monasteries, Arunachal Pradesh is an amazing destination for an amazing holiday.</p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-sm-3">
                <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/the-bandraworli-sea-link-mumbai-india-picture-id860528756?k=20&m=860528756&s=612x612&w=0&h=5uau9cXU4jVjW7b9YejARZcRyubZLkMpbIO8HTD93Oc=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Places to visit Mumbai</h5>
                <!--<p class="card-text"> Andaman & Nicobar Islands is a little slice of paradise tucked around 1,400 km away from the east coast of mainland India. Islands are popular among tourists for their white sandy beaches. </p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>

    </div>

    <div class="col col-sm-3">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/chennai-nightscape-picture-id469550423?k=20&m=469550423&s=612x612&w=0&h=zrPIwquzTvatNBKyVq3mViA-DFdT6WvLT0JmQ3NogAY=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Places to visit near Chhenai</h5>
                <!--<p class="card-text">Andhra Pradesh has the Bay of Bengal to its west, and it boasts of a coastline of 972km, the longest in the country. This state is widely advertised as the Kohinoor of India by the tourism department.</p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
    <div class="col col-sm-3">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/victoria-memorial-in-the-evening-kolkata-india-picture-id504366411?k=20&m=504366411&s=612x612&w=0&h=O04dqF5NfTJQzcOUCB1ESpJcWVDwt044yHGekhXZBeo=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Places to visit Kolkata</h5>
                <!--<p class="card-text">Arunachal Pradesh is home to picturesque mountains, unexplored passes, tranquil lakes and famous monasteries, Arunachal Pradesh is an amazing destination for an amazing holiday.</p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
    <div class="col col-sm-3">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/charminar-picture-id518256134?k=20&m=518256134&s=612x612&w=0&h=N81TXmaokiEG3r4jqhZ95JJ4DcMNTS7Z4B9FRiJBqNg=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Places to visit Hyderabad </h5>
                <!--<p class="card-text">Arunachal Pradesh is home to picturesque mountains, unexplored passes, tranquil lakes and famous monasteries, Arunachal Pradesh is an amazing destination for an amazing holiday.</p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
</div>

<h1 style="text-align:center; font-size:50px;">Places to visit in upcoming months</h1>
<div class="row">
    <div class="col col-sm-4">

        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/cherry-tree-flowers-picture-id1356399451?b=1&k=20&m=1356399451&s=170667a&w=0&h=ig3BAV5VfHy5N9QonlvYtL0ZpODgjJk407WRmQ1gfRA=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">April</h5>
                <!--<p class="card-text"> Andaman & Nicobar Islands is a little slice of paradise tucked around 1,400 km away from the east coast of mainland India. Islands are popular among tourists for their white sandy beaches. </p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>

    </div>

    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/japan-mount-bandai-with-lake-and-tree-in-springtime-picture-id827754454?b=1&k=20&m=827754454&s=170667a&w=0&h=Wyyfflb0t4N7_GMIXZptFIW5-AzVrhZ3Di0MWbR-Sec=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">May</h5>
                <!--<p class="card-text">Andhra Pradesh has the Bay of Bengal to its west, and it boasts of a coastline of 972km, the longest in the country. This state is widely advertised as the Kohinoor of India by the tourism department.</p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/summer-seascape-in-taketomi-island-in-okinawa-prefecture-japan-picture-id1318612305?b=1&k=20&m=1318612305&s=170667a&w=0&h=DJmX5cXCjpB1P1IEYJv5oHJlW1FszQ_z7DfcLK_MCGU=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">June</h5>
                <!--<p class="card-text">Arunachal Pradesh is home to picturesque mountains, unexplored passes, tranquil lakes and famous monasteries, Arunachal Pradesh is an amazing destination for an amazing holiday.</p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
</div>
<h1 style="text-align:center; font-size:50px;">Packages in demand</h1>
<div class="row">
    <div class="col col-sm-3">

        <div class="card">
            <a href="{% url 'goa' %}">
                <img src="https://media.istockphoto.com/photos/the-beach-picture-id157579910?k=20&m=157579910&s=612x612&w=0&h=2mk--eELAC90MQa7K3QxUGAs3ibdSSRVjv2mlM3h-BU=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Goa</h5>
                <p class="subtitle">
                    Starting From
                    <span style="color:green;">
                        <b> ₹ 6000 </b>
                    </span>
                </p>
                <!--<p class="card-text"> Andaman & Nicobar Islands is a little slice of paradise tucked around 1,400 km away from the east coast of mainland India. Islands are popular among tourists for their white sandy beaches. </p>
    <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>

    </div>

    <div class="col col-sm-3">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/beautiful-parvati-valley-covered-with-clouds-during-the-monsoon-picture-id1193123139?k=20&m=1193123139&s=612x612&w=0&h=zHuFEID4RZmsGMg3f1yMLacMZMLSUK2ySI52G3UYYCk=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Manali Packages</h5>
                <p class="subtitle">
                    Starting From
                    <span style="color:green;">
                        <b> ₹ 5000 </b>
                    </span>
                </p> 
                <!--<p class="card-text">Andhra Pradesh has the Bay of Bengal to its west, and it boasts of a coastline of 972km, the longest in the country. This state is widely advertised as the Kohinoor of India by the tourism department.</p>
                <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
    <div class="col col-sm-3">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/little-village-in-between-snowcaped-mountains-in-kalpa-himachal-picture-id1044171380?k=20&m=1044171380&s=612x612&w=0&h=G21-fj9bagvop_8B6b3qrricPd02IGsIoVrrpuYn0sI=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Himachal Pradesh packages</h5>
                <p class="subtitle">
                    Starting From
                    <span style="color:green;">
                        <b> ₹ 6500 </b>
                    </span>
                </p>
                <!--<p class="card-text">Arunachal Pradesh is home to picturesque mountains, unexplored passes, tranquil lakes and famous monasteries, Arunachal Pradesh is an amazing destination for an amazing holiday.</p>
    <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
    <div class="col col-sm-3">
        <div class="card">
            <a href="">
                <img src="https://media.istockphoto.com/photos/tea-plantations-picture-id1160316337?k=20&m=1160316337&s=612x612&w=0&h=yaFqRESE-TXqibrFvgp9YR5VinX4QIakIimdwMlohQ4=" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Munnar Packages</h5>
                <p class="subtitle">
                    Starting From
                    <span style="color:green;">
                        <b> ₹ 7299 </b>
                    </span>
                </p>
                <!--<p class="card-text">Arunachal Pradesh is home to picturesque mountains, unexplored passes, tranquil lakes and famous monasteries, Arunachal Pradesh is an amazing destination for an amazing holiday.</p>
    <a href="#" class="btn btn-warning">Read More</a>-->
            </div>
        </div>
    </div>
</div>
    {%endblock%}
